<div class="page4" ng-swipe-right="swipeRight()">
  <h2>Report Encounter</h2>
  <h3>Safety on Mars is your responsibility</h3>
    <form ng-submit="submitReport($event)" name="reportForm" novalidate >
      <select ng-model="encounter.atype" name="alienType" required class="alienType">
        <option value="" selected>Select alien type</option>
        <!-- gets data from the API -->
        <option value="{{ alien.type }}" ng-repeat="alien in aliens" >{{ alien.type }}</option>
        <!-- old data replaced by API line above
        <option value="a">Lizard Man</option>
        <option value="b">Giant Slug</option>
        <option value="c">Rouge Andriod</option>
        <option value="d">Octospider</option>
        <option value="e">Spiderpus</option> -->
      </select>
      <!-- <code>reportForm.alienType.$valid = {{ reportForm.alienType.$valid }} <code> -->
      <textarea ng-model="encounter.action" name="action" cols="" rows="" required class="actionTaken" placeholder="Action taken"></textarea>
      <!-- <code>reportForm.actionTaken.$valid = {{ reportForm.actionTaken.$valid }} <code> -->
      <button ng-disabled="voterForm.$invalid">Submit Report</button>
    </form>
</div>
